[submodule "trompeloeil"]
	path = trompeloeil
	url = https://github.com/rollbear/trompeloeil
[submodule "mio"]
	path = mio
	url = https://github.com/mandreyel/mio
[submodule "nameof"]
	path = nameof
	url = https://github.com/Neargye/nameof
[submodule "magic_enum"]
	path = magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "cista"]
	path = cista
	url = https://github.com/felixguendling/cista
[submodule "doctest"]
	path = doctest
	url = https://github.com/onqtam/doctest
[submodule "Catch2"]
	path = Catch2
	url = https://github.com/catchorg/Catch2
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog
[submodule "flatbuffers"]
	path = flatbuffers
	url = https://github.com/google/flatbuffers
[submodule "concurrentqueue"]
	path = concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
[submodule "libtree"]
	path = libtree
	url = git@github.com:westfly/libtree.git
[submodule "ps-lite"]
	path = ps-lite
	url = git@github.com:westfly/ps-lite.git
[submodule "dbg-macro"]
	path = dbg-macro
	url = https://github.com/sharkdp/dbg-macro
[submodule "fbthrift"]
	path = fbthrift
	url = https://github.com/facebook/fbthrift
[submodule "range-v3"]
	path = range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "breakpad"]
	path = breakpad
	url = https://github.com/google/breakpad
[submodule "cppcoro"]
	path = cppcoro
	url = https://github.com/lewissbaker/cppcoro
[submodule "arrow"]
	path = arrow
	url = https://github.com/apache/arrow
[submodule "libco"]
	path = libco
	url = https://github.com/tencent/libco
[submodule "libaco"]
	path = libaco
	url = https://github.com/hnes/libaco
[submodule "nghttp2"]
	path = nghttp2
	url = https://github.com/nghttp2/nghttp2
[submodule "dry-comparisons"]
	path = dry-comparisons
	url = https://github.com/rollbear/dry-comparisons
[submodule "cpprestsdk"]
	path = cpprestsdk
	url = https://github.com/Microsoft/cpprestsdk.git
[submodule "proxygen"]
	path = proxygen
	url = https://github.com/facebook/proxygen
[submodule "folly"]
	path = folly
	url = https://github.com/facebook/folly.git
[submodule "wangle"]
	path = wangle
	url = https://github.com/facebook/wangle
[submodule "fizz"]
	path = fizz
	url = https://github.com/facebookincubator/fizz
[submodule "scnlib"]
	path = scnlib
	url = https://github.com/eliaskosunen/scnlib
[submodule "mimalloc"]
	path = mimalloc
	url = https://github.com/microsoft/mimalloc
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt
[submodule "incubator-mxnet"]
	path = incubator-mxnet
	url = https://github.com/apache/incubator-mxnet
[submodule "blobify"]
	path = blobify
	url = https://github.com/neobrain/blobify
[submodule "magic_get"]
	path = magic_get
	url = https://github.com/apolukhin/magic_get/
